@model ItransitionProject.Models.TagOverview 

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<form method=post asp-action="CreateTag">
<div class="form-outline mb-4">
    <label class="form-label" >Текст</label>
    <textarea asp-for="TagName" class="form-control"  rows="4"></textarea>
    <span asp-validation-for="TagName"></span>
    <br></br>
    <button type="submit" class="btn btn-primary" >добавить</button>
</div>
</form>
