@model ItransitionProject.Models.CommentOverview
@{
}

             <form method="post">              
                        <li class="list-group-item">@Model.Comment
                            <div class="card-footer text-muted">
                                @foreach(var item in Model.OverComs)
                            {
                               
                            
                                    <p>Пользователь:@Html.DisplayFor(model=>item.FkusersNavigation.UserName) @Model.DateComment)</p>
                            }
                            </div>
                            <button class="btn btn-primary" asp-route-id="@Model.IdcommentOverview" asp-action="ConfirmDeleteComment" class="nav-link text-dark">Удалить</button>
                            
                        </li>
                        </form>