@model ItransitionProject.ViewModels.LoginModel
@{
    ViewBag.Title = "Login";
}

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <h3 class="mb-5">Вход</h3>

                <div class="form-outline mb-4">
                      <label asp-for="UserName" class="form-label">Введите Никнейм</label>
                      <input type="text" asp-for="UserName" class="form-control form-control-lg"/>
                      <span asp-validation-for="UserName" />
                </div>

                <div class="form-outline mb-4">
                  <label asp-for="UserPassword" class="form-label">Введите пароль</label>
                  <input asp-for="UserPassword" class="form-control form-control-lg" />
                  <span asp-validation-for="UserPassword" />
                </div>


                <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>

                <hr class="my-4">
                @*<div class="form-outline mb-4">
                    <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit">Sign in with google</button>
                </div>
                <div class="form-outline mb-4">
                    <button asp-controller="Account" asp-action="FacebookLogin" class="btn btn-lg btn-block btn-primary" style="background-color: #3b5998;" type="submit">Sign in with facebook</button>
                </div>*@

              </div>
            </div>
          </div>
        </div>
      </div>
</form>
@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
             